@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,300;1,700&display=swap');

@media screen and (max-width: 400px) {
   header div {
      flex-flow: column;
      text-align: center;
   }

   p#headerContainer > a {
      display: flex;
      flex-direction: column;
   }
}

* {
   margin: 0px;
   padding: 0px;
}

header :link {
   color: hsl(0, 0%, 20%);
   text-decoration: none;
}

header :visited {
   color: hsl(0, 0%, 20%);
   text-decoration: none;
}

section ul :link {
   color: hsl(0, 0%, 100%);
   text-decoration: none;
}

section ul :visited {
   color: hsl(0, 0%, 100%);
   text-decoration: none;
}

section ul :link:hover {
   text-decoration: solid underline;
}

:root {
   --cor00: #333;
   --cor01: #fc0022;
   --fonte01: italic 20px 'Ubuntu', sans-serif;
   --fonte02: normal 20px 'Ubuntu', sans-serif;
   --fonte03: normal 15px 'Ubuntu', sans-serif;
   --fonteWeight01: 700;
   --fonteWeight02: 500;
   --menuSize: 600px;
}

h3 {
   font: var(--fonte02);
   font-weight: var(--fonteWeight02);
   margin-bottom: 10px;
}

body {
   background-color:#333;
}

body > div {
   display: flex;
   flex-direction: column;
}

header {
   background-color: white;
   font: var(--fonte01);
   font-weight: var(--fonteWeight01);
   color: var(--cor01);
   width: 100%;
}

header > div {
   display: flex;
   justify-content: space-between;
   padding: 10px;
}

main {
   margin: 0px auto;
   width: 100%;
}

section#travelMenu {
   height: 400px;
   background: var(--cor00) url(imagens/london.jpg) no-repeat center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}

section#travelMenu div {
   width: 600px;
}

/* section#travelMenu :first-child {
   max-width: 500px;
} */

div#travelSearchBox {
   height: 100%;
   padding: 10px;
   background-color: white;
}

p#headerContainer {
   display: flex;
   justify-content: space-evenly;
}

ul {
   display: flex;
   width: calc(100% + 20px);
   justify-content: space-around;
   font: var(--fonte03);
   font-weight: var(--fonteWeight02);
   list-style: none;
   background-color: var(--cor00);
   color: white;
}

li {
   text-align: center;
   padding: 5px;
   width: 100%;
}

#flightLink {
   background-color: var(--cor01);
}

#fromTo {
   display: flex;
}

#fromTo > div {
   display: flex;
   flex-direction: column;
   margin: 5px;
}

#fromTo > div > input {
   line-height: 30px;
   display: flex;
}