@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
}

:root {
   --cor1: #ff4e14;
   --cor2: #a200ff;
   --bgColor: #111;
   --hdTxtColor: #eee;
}

ul {
   list-style-type: none;
   list-style-position: inside;
}

body {
   background-color: #111;
}

header {
   position: relative;
   background-image: linear-gradient(to top, var(--cor1), var(--cor2));
   height: 150px;
   color: var(--hdTxtColor);
   text-shadow: 3px 5px 10px #0008;
}

nav {
   display: flex;
   justify-content: space-between;
   padding: 0px 15px;
   padding-top: 120px;
}

nav ul {
   display: flex;
   gap: 15px;
   align-items: flex-end;
}

section {
   margin: 15px;
   padding: 10px;
   background-color: #333;
}

img {
   width: 100%;
}

a:link {
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-weight: bold;
}

a:link:hover {
   font-size: 1.2em;
   text-shadow: 0px 0px 30px #fff;
   transition: 173ms;
}

a:visited {
   color: var(--hdTxtColor);
}