@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   /* border: 1px solid black; */
}

:root {
   --cor1: #ff4e14;
   --cor2: #a200ff;
   --bgColor: #171919;
   --gTxtColor: #efefef;
   --hdTxtColor: #ccc;
   --bgGradient: linear-gradient(to top, var(--cor1), var(--cor2));
   --midMaxWidth: 700px;
   --nShadow1: 0 0 10px #fff;
   --nShadow2: 0 0 20px #fff;
   --nShadow3: 0 0 50px #fff;
}

html {
   background-color: #111;
}

ul {
   list-style-type: none;
   list-style-position: inside;
}

body {
   background-color: var(--bgColor);
   margin: 0px auto;
}

.bd2 {
   max-width: var(--midMaxWidth);
   margin: auto;
}

header {
   background-image: url(night-sky.png);
   background-repeat: no-repeat;
   background-position: right;
   background-size: cover;
   height: 150px;
   text-shadow: 3px 5px 10px #0008;
}

nav {
   display: flex;
   justify-content: space-between;
   max-width: 700px;
   padding: 0px 15px;
   padding-top: 110px;;
   margin: 0px auto;
}

nav ul {
   display: flex;
   gap: 15px;
   align-items: flex-end;
}

article {
   margin: 15px;
   padding: 10px;
}

p {
   color: var(--gTxtColor);
   text-align: justify;
}

header h1 {
   color: var(--gTxtColor);
}

main h2   {
   color: var(--hdTxtColor);
   margin: 1.5em 0 0.5em 0;
}

footer {
   background-color: #ddd;
}

footer p {
   color: black;
   max-width: var(--midMaxWidth);
   margin: auto;
   padding: 3px 10px;
   text-align: center;
}

img {
   width: 100%;
}

a:link {
   color: white;
   text-decoration: none;
   font-weight: bold;
}

a:link:hover {
   font-size: 1.05em;
   text-shadow: var(--nShadow1),var(--nShadow2),var(--nShadow3);
   transition: 150ms;
   transition-property: all;
}

a:visited {
   color: var(--hdTxtColor);
}