@charset "UTF-8";

* {
   margin: 0px;
}

section ul :link {
   color: white;
}

:root {
   --cor00: #333;
   --cor01: #fc0022;
   --fonte01: normal 20px Cambria, serif;
}

body {
   background-color:lightgray;
   margin: 0px auto;
   max-width: 1080px;
}

header {
   background-color: white;
   padding: 10px 10px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
   font-weight: bold;
   color: var(--cor01);
}

section#travelS {
   height: 400px;
   background-image: url(imagens/london.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

header p {
   margin: 0px;
   padding: 0px;
}

p#headerContainer {
   display: flex;
   justify-content: space-between;
}

main {
   background-color: var(--cor00);
}

ul {
   display: flex;
   margin: 0px;
   padding: 0px;
   width: 500px;
   list-style: none;
   background-color: var(--cor00);
   color: white;
   justify-content: space-around;
}

li {
   padding: 10px;
   width: 100%;
   text-align: center;
}

#flightLink {
   background-color: var(--cor01);
}

#fromTo {
   background-color: white;
   width: 500px;
   height: 150px;
}