@charset "UTF-8";

* {
   margin: auto;
}

html {
   background-color: aquamarine;
}

header {
   text-align: center;
   margin-bottom: 20px;
}

body {
   position: absolute;
   background-color: white;
   max-width: 600px;
   padding: 20px;
   top: 100px;
   left: 50%;
   transform: translate(-50%, -50%);
}

input#nota {
   width: 100px;
}

div {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}