@charset "UTF-8";

body {
   background-color: #8fccff;
   font: normal 15pt Arial;
}

header, footer {
   text-align: center;
   color: white;
}

section {
   background-color: white;
   border-radius: 10px;
   margin: auto;
   align-items: center;
   max-width: 500px;
   padding: 15px;
   box-shadow: 3px 5px 10px 2px #0002;
}

p {
   text-align: left;
}

input {
   display: inline-block;
   text-align: right;
   width: 30%;
}

input[type="button"] {
   text-align: center;
   font-weight: bold;
   width: 70px;
}

footer {
   font-style: italic;
}