@charset "UTF-8";

*, ::after, ::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

button {
   cursor: pointer;
   border: none;
   border-radius: 3px;
   padding: 7px;
   font-weight: 600;

   background-color: var(--color1);
   color: white;
}

button:hover {
   background-color: white;
   color: var(--color1);
}

input {
   width: 100%;
   line-height: 1.5rem;
   padding: 3px 10px;
   border: 1px solid rgba(0 0 0 / 0.2);
}