@charset "UTF-8";

@import url(./reset.css);
@import url(./fonts-and-color-palette.css);
@import url(./links.css);

body {
   font-family: 'Ubuntu', sans-serif;
   background-color: hsl(0, 0%, 20%);
   max-width: 1366px;
   margin: auto;
}

header, main, footer {
   background-color: hsl(0, 0%, 95%)
}

header {
   height: 53px;
   font-size: 1.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 3px 10px;
}

main {
   color: var(--primaryColor);
}

footer {
   color: var(--secondaryColor);
}

/* h1 to h6 and paragraph */

h3 {
   margin: 10px auto;
   font-weight: 500;
}

p {
   word-wrap: break-word;
   word-break: break-all;
   font-weight: 300;
   font-size: 0.9rem;
}

/* header*/

[logo-container] {
   display: flex;
   align-items: center;
}

[logo-container] img {
   max-height: 30px;
}

[search-bar-container] {
   display: flex;
   align-items: center;
   gap: 5px;
}

[search-icon] {
   cursor: pointer;
   user-select: none;
   opacity: .5;
}

[search-icon]:hover {
   opacity: 1;
   color: var(--color1);
}

/* header | main */

/* Flight - Hotel - Rental */

.flight-search-container {
   position: relative;
   height: 640px;
   max-height: 50vh;
   background: no-repeat center url(../imagens/photos/london.jpg);
   background-size: cover;
   box-shadow: 0 0 5px 5px inset rgba(0 0 0 / .15);
}

.flight-search-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 890px;
   max-width: 80%;
   height: 260px;
   max-height: 60%;
   background-color: white;
}

/* REVISAR */

.flight-search {
   padding: 10px;
}

.flight-search div {
   display: flex;
   justify-content: space-between;
   flex-grow: 1;

   gap: 7px;
}

.flight-menu {
   display: flex;
   justify-content: space-around;
   list-style: none;
}

.flight-menu a {
   flex-grow: 1;
   padding: 7px;
   font-weight: 500;
   font-size: 1em;
   text-align: center;
   color: white;

   background-color: var(--primaryColor);
}

.flight-menu a > * {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 7px;
}

.flight-menu a:first-child {
   background-color: var(--color1);
}

.flight-icon {
   rotate: 45deg;
}

/* .flight-text, .hotel-text, .rental-text {
   display: none;
} */

/* Good Offers Right Now */

.travel-offers-container {
   padding: 20px 100px;
}

.offers-img-container, .travel-card-container {
   position: relative;
   margin: 15px auto;

   display: grid;
   gap: 7px;
   grid-template-columns: repeat(2, 1fr);
}

[gridSub] {
   position: relative;
   display: grid;
   gap: 7px;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
}

.offers-img-container img, [gridSub] img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

[gridSub] div {
   position: relative;
}

.offers-img-container span {
   position: absolute;
   bottom: 5px;
   left: 5px;
   color: white;
}

.travel-card-container {
   max-height: 450px;
   grid-template-columns: repeat(2, 1fr);
}

.travel-card {
   display: flex;
   flex-direction: column;
   background-color: white;
}

.travel-card :first-child {
   max-height: 60%;
   width: 100%;
   object-fit: cover;
}

.travel-card [info] {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   padding: 10px;
}

[info] [pricing] {
   margin-bottom: 10px;
}

.buyLink {
   padding: 10px 0;
}

/* Newsletter */

.newsletter {
   background-color: rgba(0 0 0 / .5);
   color: white;
   padding: 10px;
}

.newsletter *:not(input) {
   margin-top: 10px;
}

/* main | footer */