@charset "UTF-8";

@import url(./reset.css);
@import url(./fonts-and-color-palette.css);
@import url(./links.css);

body {
   font-family: 'Ubuntu', sans-serif;
   background-color: hsl(0, 0%, 20%);
   max-width: 1366px;
   margin: auto;
}

header, main, footer {
   background-color: hsl(0, 0%, 95%)
}

header {
   height: 53px;
   font-size: 1.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 3px 10px;
}

main {
   color: var(--primaryColor);
}

footer {
   color: var(--secondaryColor);
}

/* h1 to h6 and paragraph */

h3 {
   margin-top: 10px;
   margin-bottom: 5px;
}

p {
   word-wrap: break-word;
   word-break: break-all;
   font-weight: 300;
   font-size: 0.9rem;
}

/* header >>> */

[logo-container] {
   display: flex;
   align-items: center;
}

[logo-container] img {
   max-height: 30px;
}

[search-bar-container] {
   display: flex;
   align-items: center;
   gap: 5px;
}

[search-icon] {
   cursor: pointer;
   user-select: none;
   opacity: .5;
}

[search-icon]:hover {
   opacity: 1;
   color: var(--color1);
}

/* <<< header | main >>> */

.flight-search-container {
   position: relative;
   height: 640px;
   max-height: 50vh;
   background: no-repeat center url(../imagens/photos/london.jpg);
   background-size: cover;
   box-shadow: 0 0 5px 5px inset rgba(0 0 0 / .15);
}

.flight-search {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 890px;
   max-width: 80%;
   height: 260px;
   max-height: 60%;
   background-color: white;
}

.travel-offers-container {
   padding: 20px 50px;
}

[offers-img-container], [travel-card-container] {
   margin: 15px auto;

   display: grid;
   gap: 7px;
}

[offers-img-container] {
   grid-template-columns: 2fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

[offers-img-container] img {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

[offers-img-container] :first-child {
   grid-row: span 2;
}

[travel-card-container] {
   max-height: 450px;
   grid-template-columns: 2fr 2fr;
}

.travel-card {
   background-color: white;
   overflow: hidden;
}

.travel-card :first-child {
   max-height: 50%;
   width: 100%;
   object-fit: cover;
}

.travel-card [info] {
   padding: 10px;
}

[info] [pricing] {
   margin-bottom: 10px;
}

[info] a {
   display: block;
   position: relative;
   bottom: 0px;
   margin: 10px;
}

/* <<< main | footer >>> */