@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
}

html {
   background-color: aquamarine;
}

header {
   text-align: center;
}

body {
   background-color: white;
   max-width: 500px;
   margin: auto;
   padding: 20px;
}
p, input, select {
   margin-top: 10px;
}

input#nota {
   width: calc(100% - 233px);
}

span#flexcontainer {
   display: flex;
   justify-content: flex-end;
}

div {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}

select#lista {
   width: 100%;
}