@charset "UTF-8";

* {
   margin: 0px;
}

body {
   height: 100vh;
   width: 100vw;
}

p {
   font-family: 'Calibri', sans-serif;
   font-weight: bold;
   font-size: 20px;
   text-align: center;
}

div {
   display: flex;
   justify-content: center;
   align-items: center;
}

div#d1 {
   background-color: brown;
   height: 50px;
   width: 100%;
}

div#d2 {
   background-color: rgb(255, 119, 0);
   height: 50px;
   width: 100%;
}

div#d3 {
   background-color: rgb(255, 221, 0);
   height: 50px;
   width: 100%;
}

section#s1 {
   background-color: cornflowerblue;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

section#s2 {
   display: flex;
   height: 200px;
   width: 400px;
   justify-content: space-around;
   align-items: flex-start;
   background-color: darkolivegreen;
}